/* 
RESET BUTTON STYLES
*/
button {
    background-color: transparent;
	color: inherit;
    display: inline-block;
    border: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    font-family: inherit;
    text-align: left;
    font-size: inherit;
}   



/* 
REUSABLES
*/
.flex {
    display: flex;
}

.grid {
    display: grid;
}

.center-y {
    align-items: center;
}

.center-x {
    justify-content: center;
}

.center {
    justify-content: center;
    align-items: center;
}

.column {
    flex-direction: column;
}

.text-center {
    text-align: center;
}



/* 
VARIABLES
*/
:root {
    --bg-clr: rgb(38, 38, 55);
    --text-clr: rgb(241, 241, 241);
    --btn-bg-clr: rgb(53, 53, 77);
    --btn-bg-clr-hover: rgb(88, 88, 129)
}



/* 
MAIN STYLES
*/
body {
    font-family: 'Inter', sans-serif;
    padding: 1rem;
    color: var(--text-clr);
    background-color: var(--bg-clr);
    min-height: 100vh;
}

.pure-g > button {
    box-sizing: border-box;
}

.element__choice, .choices__btn {
    font-size: 4rem
}

.scoreboard__score {
    margin: 3rem 0;
}

.scoreboard__choices {
    gap: .5rem;
    justify-content: space-around;
}

.choices__btn {
    padding: 1rem 1.5rem;
    font-size: 4rem;
    background-color: var(--btn-bg-clr);
    border-radius: 10px;
    transition: .4s;
}

.choices__btn:hover {
    background-color: var(--btn-bg-clr-hover);
}

/* 
MEDIA QUERIES
*/

/* 768px and above */
@media (min-width: 48rem) {
    .scoreboard__info {
        font-size: 3rem;
    }

    .scoreboard__message, .element__score {
        font-size: 1.25rem;
    }
}